body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

header h2 {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  background-image: url("./images/galaxy.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main-title {
  text-align: center;
  color: rgb(199, 199, 13);
  font-weight: 600;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  gap: 1rem;
  justify-content: center;
}

.main-card{
  width: 20rem;
  height: 10rem;
  background-color: #000;
  padding: 1rem;
  border: 3px solid yellow;
  text-align: center;
  border-radius: 1.5rem;
}

.main-card h2{
  font-weight: 800;
}

.main-card p{
  font-weight: 600;
}

@media only screen and (max-width: 428px) {
  body {
    font-size: 14px;
  }
}
