/* Resetea los márgenes y el padding de todos los elementos */
*{
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor de los artículos */
.articles{
    background-color: #000; /* Color de fondo negro */
    display: flex; /* Se usa flexbox para el diseño */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 1rem; /* Padding alrededor del contenedor */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    width: 100%; /* Ancho completo */
}

/* Estilos para cada caja de artículo */
.box{
    background-color: #fff; /* Color de fondo blanco */
    border-radius: .5rem; /* Bordes redondeados */
}

/* Estilos para el contenedor de la imagen en cada caja */
.box-img{
    height: 10rem; /* Altura fija */
    width: 7rem; /* Ancho fijo */
}

/* Estilos para la imagen en cada caja */
.box-img img{
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
}
